# data
*.sublime*
pretrained/*
utils/*
setup.sh
update.sh
update_amend.sh
jupyter/*
.ipynb*
sample/*
*.zip
ckpt/
eval_self.py
.nfs*

# trash
.dropbox

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

### Vim ###
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

### pycharm ###
.idea

## config ##
.gitignore
